<form name="project_search" id="project_search" action="<%= search_projects_path %>">
  <label for="project_search_field"><%= I18n.t('tog_social.projects.site.search_projects') %></label>
  <input type="text" name="search_term" id="search_term" value="<%=@search_term%>" class="fieldbox" />
  <input type="submit" value="<%= I18n.t('tog_social.search') %>" class="button" />
</form>
